[build]
builder = "NIXPACKS"

[build.nixpacks]
pkgs = ["cairo", "pango", "libjpeg", "giflib", "librsvg", "pixman", "pkg-config"]

[deploy]
startCommand = "npm start"
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10
